/*
 * Example usage:
 * <div class="blinking">this will blink</div>
 * <div class="blinking" style="--rate: 2s">this will blink</div>
 */

.blinking {
    animation: blinking-animation var(--rate, 1s) linear infinite;
}

@keyframes blinking-animation {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: var(--opacity, 0);
    }
    100% {
        opacity: var(--opacity, 0);
    }
}
